/* Base Colors */
$blue: #65aef8;
$brightblue: #5072E1;
$black: #000;
$white: #fff;
$ltgray: #706F6F;
$keylinegray: #3c3d3f;
$medgray: #313236;
$darkgray: #1e1f22;

$accent-color: $blue;

/* Components */
$background-color: $darkgray;
$nav-color: $medgray;

/* Font Stacks */
$sans: 'Helvetica', 'Arial', sans-serif;

/* Grid Variables */
$minwidth: 320px;
$maxwidth: 1024px;

/* Component Variables */
